# Gradle
.gradle/
/build/
!gradle/wrapper/gradle-wrapper.jar
bin/
out/


# IDE
.idea/
*.iml
.vscode/


# OS
.DS_Store


# Logs
*.log


.env
.env.*

# EC2 and SSH keys
.ec2-config
*.pem
private_key*
bin/
